# Default ignored files
/shelf/
# Datasource local storage ignored files
/../../../../../../:\Users\MozesHajdu\projects\training\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
